body {
   background-color: gray;
}
.navBar{
    height: 50px;
    background: rgba(0,0,0,0.4);
}
.navBar nav{
    float: right;
}
.navBar ul{
    list-style-type: none;
    margin: 15px;
    padding: 0;
}
.navBar li{
    display: inline;
    margin-right: 35px;
}
.navBar a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
.navBar a:hover{
    color: black;
}
.intro{
    width: 60%;
    background: rgba(0,0,0,0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 3%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}
.intro-img{
    border-radius: 50%;
    width: 400px;
    height: 400px;
}
.intro h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.intro h5{
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 100;
}
.intro p{
    text-align: justify;
}
ul{
    margin: 0;
    padding: 0;
}
.intro li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.resume{
    width: 80%;
    background: rgba(0,0,0,0.4);
    padding: 40px;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}
.resume::after{
    content: '';
    display: table;
    clear: both;
}
.resume div{
    position: relative;
}
.resume div ul li{
    margin-left: 3%;
}
.resume h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    text-align: center;
}

.projects{
    width: 80%;
    background: rgba(0,0,0,0.4);
    padding: 40px;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}